*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.calculator{
  background-color: #fff;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1),
  inset 0 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.display{
  position: relative;
  display: flex;
  justify-content: flex-end;
  border: 1px solid royalblue;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  font-size: 30px;
  height: 64px;
}

.result{
  position: absolute;
  font-size: 14px;
  top: 5px;
}

.operations{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.operation {
  text-align: center;
  border: 1px solid royalblue;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
}

.operation:hover {
  cursor: pointer;
  background-color: #eee;
  transition: .2s;
}

.numbers{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.number {
  text-align: center;
  border: 1px solid royalblue;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.number:hover {
  cursor: pointer;
  background-color: #eee;
  transition: .2s;
}